<div class="container">
  <div class="header">
    <h1>{{ 'PARKING.CARS_TITLE' | translate }}</h1>
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      {{ 'PARKING.ADD_CAR' | translate }}
    </button>
  </div>

  <div class="filters">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>{{ 'PARKING.SEARCH_PLATE' | translate }}</mat-label>
      <input matInput [formControl]="searchControl" [placeholder]="'PARKING.PLATE' | translate">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="building-filter">
      <mat-label>{{ 'PARKING.FILTER_BUILDING' | translate }}</mat-label>
      <mat-select [formControl]="buildingFilter">
        <mat-option [value]="0">{{ 'PARKING.ALL_BUILDINGS' | translate }}</mat-option>
        <mat-option *ngFor="let building of buildings" [value]="building.id">
          {{ building.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-container">
    <div *ngIf="loading" class="loading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" matSort *ngIf="!loading">
      <!-- Marque Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PARKING.BRAND' | translate }}</th>
        <td mat-cell *matCellDef="let car">{{ car.brandDisplay }}</td>
      </ng-container>

      <!-- Plaque Column -->
      <ng-container matColumnDef="plate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PARKING.PLATE' | translate }}</th>
        <td mat-cell *matCellDef="let car">
          <strong>{{ car.plateFormatted }}</strong>
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="carType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PARKING.TYPE' | translate }}</th>
        <td mat-cell *matCellDef="let car">
          <mat-chip [ngClass]="getCarTypeClass(car.carType)">
            {{ car.carTypeDisplay }}
          </mat-chip>
        </td>
      </ng-container>

      <!-- Adhérent Column -->
      <ng-container matColumnDef="member">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PARKING.OWNER' | translate }}</th>
        <td mat-cell *matCellDef="let car">
          <a class="member-link" (click)="viewMemberDetails(car)" *ngIf="car.memberId">
            {{ car.memberFullName }}
          </a>
          <span *ngIf="!car.memberId">-</span>
        </td>
      </ng-container>

      <!-- Immeuble Column -->
      <ng-container matColumnDef="building">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'COMMON.BUILDING' | translate }}</th>
        <td mat-cell *matCellDef="let car">{{ car.buildingCode }}</td>
      </ng-container>

      <!-- Appartement Column -->
      <ng-container matColumnDef="apartment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'COMMON.APARTMENT' | translate }}</th>
        <td mat-cell *matCellDef="let car">{{ car.apartmentNumber }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.ACTIONS' | translate }}</th>
        <td mat-cell *matCellDef="let car">
          <button mat-icon-button color="primary" (click)="openEditDialog(car)" [matTooltip]="'COMMON.EDIT' | translate">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCar(car)" [matTooltip]="'COMMON.DELETE' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      *ngIf="!loading"
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
